.productsWrapper {
    padding: 4rem;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}

.header__h1 {
    font-size: 300%;
}

.productsList {
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.productsList__item {
    position: relative;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 0.3rem dashed rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}


.productsList__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    
}

.productsList__fade {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: rgba(0,0,0,0.3);
}

.productsList__imgText {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.productsList__button {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    font-size: 150%;
    background: linear-gradient(to bottom right, #A5C9CA 65%,#395B64);
    border: none;
    outline: none;
    transition: 0.8s all;
}

.productsList__item:hover .productsList__button, .productsList__button:hover {
    cursor: pointer;
    filter: hue-rotate(60deg);
}

.productsList__text {
    font-size: 80%;
    color: rgba(255, 255, 255, 0.8);
}